<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Modelling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
		<div class="sidebar">
			<div class="sidebar-nav">
				<div class="hiasan">
					<img src="{{url_for('static', filename='asset/gambar/segitiga.png')}}" alt="">
				</div>
				<div class="hiasan-dua">
					<img src="{{url_for('static', filename='asset/gambar/lingkaran-dua.png')}}" alt="">
				</div>
				<h4>App</h4>
				<ul>
					<li><a href="">Profil</a></li>
					<li><a href="">Setting</a></li>
					<li><a href="">Logout</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="navbar">
				<span>My App</span>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/data">Data</a></li>
					<li><a href="/model">Model</a></li>
				</ul>
			</div>
			<h5>Dashboard Model</h5>
			
		</div>
	</div>
    
</body>
</html>